@{
    ViewBag.Title = "Home Page";
}
<div class="wrapper">
    <div class="grids">
        <div class="grid-16 grid">	
            <div style="width:75%; margin:0 auto;">        
                <div id="colorfulBox1">People with<br />ADHD</div>
                <div id="colorfulBox2">Parents &<br />Caregivers</div>
                <div id="colorfulBox3">Canadian <br />Agencies</div>
            </div>
            <div style="width:51%; margin:0 auto;">
                <div id="colorfulBox4">People with<br />DD</div>
                <div id="colorfulBox5">People with<br />HD</div>
            </div>
        </div>
    </div>      
</div>