@{
    ViewBag.Title = "Edit Users";
}
<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
            <p>
                You can edit users here
            </p>

            
        </div>
    </div>
</div>
