@{
    ViewBag.Title = "Edit Users";
}
<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
            <p>
                You can edit users here
            </p>
            <table border="1", title="Edit users">
                <tr>
                    <th>Username</th>
                    <th>User role</th>
                </tr>
                <tr>
                    <td>admin</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <td>oleg</td>
                    <td>educators</td>
                </tr>
            </table>
            <ul id="nav" class="main">
                <li><a href="/General/TC">Edit</a></li>
            </ul>
        </div>
    </div>
</div>
