@{
    ViewBag.Title = "ADHD";
}
<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
            <li>Attention deficit hyperactivity disorder (ADHD, similar to hyperkinetic disorder in the ICD-10) is a psychiatric disorder of the neurodevelopmental type in which there are significant problems of attention, hyperactivity, or acting impulsively that are not appropriate for a person's age. These symptoms must begin by age six to twelve and be present for more than six months for a diagnosis to be made. In school-aged individuals the lack of focus may result in poor school performance.</li>
        </div>
    </div>
</div>
