@{
    ViewBag.Title = "Developmental Disabilities";
}

<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
               <li>Developmental disorders is a group of psychiatric conditions originating in childhood that involve serious impairment in different areas. There are several ways of using this term. The most narrow concept is used in the category "Specific Disorders of Psychological Development" in the ICD-10. These disorders comprise language disorders, learning disorders, motor disorders and autism spectrum disorders. In broader definitions ADHD is included, and the term used is neurodevelopmental disorders. Yet others include antisocial behavior and schizophrenia that begins in childhood and continues through life. However, these two latter conditions are not as stable as the other developmental disorders, and there is not the same evidence of a shared genetic liability.</li>
        </div>
    </div>
</div>
