@{
    ViewBag.Title = "Head damage";
}

<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
               <li>Any injury that results in trauma to the scalp, skull, or brain can be classified as a head injury. The terms traumatic brain injury and head injury are often used interchangeably in medical literature. This broad classification includes neuronal injuries, hemorrhages, vascular injuries, cranial nerve injuries, and subdural hygromas, among many others. These classifications can be further categorized as open (penetrating) or closed head injuries. This depends on if the skull was broken or not. Because head injuries cover such a broad scope of injuries, there are many causes—including accidents, falls, physical assault, or traffic accidents—that can cause head injuries. Many of these are minor, but some can be severe enough to require hospitalization.</li>
        </div>
    </div>
</div>
