@{
    ViewBag.Title = "Technology center";
}
<div class="wrapper">
 	<div class="grids top">
        <div class="grid-16 grid intro">
            <h2>@ViewBag.Title</h2>
            <p>
               Under construction
            </p>
        </div>
    </div>
</div>
